@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$pink: #FF7CAD;
$blue: #9DD6FF;
$darkTxt: #303030;
$lightTxt: #DDDDDD;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: $darkTxt;
    background-color: #FFFFFA;
    scroll-behavior: smooth;
}

nav {
    padding: 24px;

    .navbar-brand,
    #menuText {
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
    }

    #menuBtn {
        border: none;

        #menuText {
            font-weight: 400;
            letter-spacing: 2px;
            font-size: 18px;
            color: $darkTxt;
        }

        .icon-menu {
            --gap: 5px;
            --height-bar: 2px;
            --pos-y-bar-one: 0;
            --pos-y-bar-three: 0;
            --scale-bar: 1;
            --rotate-bar-one: 0;
            --rotate-bar-three: 0;
            width: 25px;
            display: flex;
            flex-direction: column;
            gap: var(--gap);
            cursor: pointer;
            position: relative;
        }

        .bar {
            position: relative;
            height: var(--height-bar);
            width: 100%;
            border-radius: .5rem;
            background-color: $darkTxt;
        }

        .bar-1 {
            top: var(--pos-y-bar-one);
            transform: rotate(var(--rotate-bar-one));
            transition: top 200ms 100ms, transform 100ms;
        }

        .bar-2 {
            transform: scaleX(var(--scale-bar));
            transition: transform 150ms 100ms;
            width: 20px;
            align-self: end;
        }

        .bar-3 {
            bottom: var(--pos-y-bar-three);
            transform: rotate(var(--rotate-bar-three));
            transition: bottom 200ms 100ms, transform 100ms;
        }

        .check-icon:checked+.icon-menu>.bar--1 {
            transition: top 200ms, transform 200ms 100ms;
        }

        .check-icon:checked+.icon-menu>.bar--3 {
            transition: bottom 200ms, transform 200ms 100ms;
        }

        .check-icon:checked+.icon-menu {
            --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
            --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
            --scale-bar: 0;
            --rotate-bar-one: 45deg;
            --rotate-bar-three: -45deg;
        }
    }
}

#landingSummary {
    width: 470px;
    font-style: italic;
    font-weight: 400;
}

#landingSocials {
    width: 368px;
}


.fa-brands {
    font-size: 25rem;
}

#landingDivider {
    width: 1px;
    height: 60px;
    background-color: $darkTxt;
}

#viewCV {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    color: $pink;
}

#viewCV::after {
    content: "";
    /* Create the pseudo-element content */
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0px;
    height: 3px;
    background-color: $pink;
    opacity: 1;
    transition: width 0.2s;
}

#viewCV:hover::after {
    width: 100%;
}

#pinkBg,
#blueBg {
    z-index: 0;
    position: absolute;
    top: auto;
    width: 650px;

}

#blueBg {
    right: 70px;
}

.homePic {
    height: 630px;
    position: relative;
    z-index: 5;
}

.subTxtTitle {
    font-size: 20px;
    font-weight: 500;
}

.subTxtDetails {
    width: 300px;
    font-size: 16px;
    font-weight: 400;
}

#aboutText {
    color: white;
    font-size: 55px;
    font-weight: 700;
}

#aboutHighlight {
    color: $lightTxt;
    line-height: 40px;
}

#unblokcPic {
    width: 750px;
    height: auto;
    right: 40px;
}

.contactIcon {
    font-size: 25px;
    margin-top: 8px;
}

.form-control.contactMessage {
    margin-bottom: 34px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.form-control.contactMessage::placeholder {
    color: #aeaeae;
}

#homeFooterHr {
    margin-top: 60px;
}