@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #303030;
  background-color: #FFFFFC;
  scroll-behavior: smooth;
}

.pink {
  color: #FF7CAD;
  font-weight: 500;
}

.blue {
  color: #6cc2ff;
}

.lightText {
  color: #dddddd;
  line-height: 30px;
}

p {
  line-height: 30px;
}

section {
  padding: 100px 0px;
}

.learnMore,
#contactSend {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #9DD6FF;
  width: 140px;
}

.learnMore:hover {
  outline: 3px solid #9DD6FF;
  outline-offset: -3px;
  color: #9DD6FF;
}

#blueBg {
  right: 70px;
}

.poppinsFont {
  font-family: "Poppins", sans-serif;
}

.stroked {
  color: transparent;
  -webkit-text-stroke: 2px #303030;
  -moz-text-stroke: 2px #303030;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #FFDF66;
  color: #303030;
  height: 50px;
  width: 50px;
  z-index: 10;
}
#backToTop .fa-arrow-up {
  font-size: 20px;
}

nav {
  padding: 24px;
}
nav .navbar-brand,
nav #menuText {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
nav #menuBtn {
  border: none;
}
nav #menuBtn #menuText {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
  color: #303030;
}
nav #menuBtn .icon-menu {
  --gap: 5px;
  --height-bar: 2px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
}
nav #menuBtn .bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: 0.5rem;
  background-color: #303030;
}
nav #menuBtn .bar-1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}
nav #menuBtn .bar-2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
  width: 20px;
  align-self: end;
}
nav #menuBtn .bar-3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}
nav #menuBtn .check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}
nav #menuBtn .check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}
nav #menuBtn .check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

.landingName,
#aboutText {
  font-size: 98px;
  font-weight: 700;
}

#landingSummary {
  width: 490px;
  font-style: italic;
  font-weight: 400;
}

#landingSocials {
  width: 368px;
}

.fa-brands {
  font-size: 25rem;
}

#landingDivider {
  width: 1px;
  height: 60px;
  background-color: #303030;
}

#viewCV {
  position: relative;
  font-weight: 500;
  text-decoration: none;
  color: #FF7CAD;
}

#viewCV::after {
  content: "";
  /* Create the pseudo-element content */
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 3px;
  background-color: #FF7CAD;
  opacity: 1;
  transition: width 0.2s;
}

#viewCV:hover::after {
  width: 100%;
}

.vectorBg {
  z-index: 0;
  position: absolute;
  top: auto;
  width: 650px;
}

.pic {
  height: 630px;
  position: relative;
  z-index: 5;
}

#landingWhatIDo,
#aboutHighlight {
  font-weight: 600;
  font-size: 30px;
}

.landingSubTexts {
  font-size: 20px;
  font-weight: 500;
}

.landingSubDetails {
  width: 300px;
  font-size: 16px;
  font-weight: 400;
}

#aboutText {
  color: white;
  font-size: 55px;
}

#aboutHighlight {
  color: #dddddd;
  font-size: 30px;
  line-height: 40px;
}

#unblokcPic {
  width: 750px;
  height: auto;
  right: 40px;
}

.contactIcon {
  font-size: 25px;
  margin-top: 8px;
}

.contactHead {
  font-weight: 500;
}

.form-control.contactMessage {
  margin-bottom: 34px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.form-control.contactMessage::-moz-placeholder {
  color: #aeaeae;
}

.form-control.contactMessage::placeholder {
  color: #aeaeae;
}

#footerHr {
  margin-top: 60px;
}

.footerIcon,
.iconBG {
  font-size: 40px;
  color: #dddddd;
  margin: 0px 5px;
}

.iconBG {
  width: 40px;
  height: 40px;
  background-color: #dddddd;
}

.footerIcon:hover {
  color: #FF7CAD;
  transition: 0.2s ease-in;
}

.iconBG:hover {
  background-color: #FF7CAD;
  transition: 0.2s ease-in;
}

.footerIconBG {
  font-size: 25px;
  color: #131313;
}/*# sourceMappingURL=index.css.map */