@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("https://github.com/nicolealcala/Portfolio/blob/main/assets/bg.png?raw=true");
}
