#sectionLoader {
    position: fixed;
    top: 0;
    z-index: 20;
}


.loader {
    height: 20vh;
    width: 20vh;
}

#liquid {
    animation: changeColor 2s infinite linear !important;
}

@keyframes changeColor {
    25% {
        fill: #FF7CAD;
    }

    35% {
        fill: #FFDF66;
    }

    60% {
        fill: #FFDF66;
    }

    75% {
        fill: #9DD6FF;
    }

    100% {
        fill: #9DD6FF;
    }
}