.loader {
    height: 20vh;
    width: 20vh;
}

#liquid {
    animation: changeColor 2s infinite linear;
}

@keyframes changeColor {
    25% {
        fill: #FF7CAD;
    }

    35% {
        fill: #FFDF66;
    }

    60% {
        fill: #FFDF66;
    }

    75% {
        fill: #9DD6FF;
    }

    100% {
        fill: #9DD6FF;
    }
}

.loader2 {
    gap: 20px;
}

.loader2 span {
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
}

.loader2 span::before {
    content: "";
    display: block;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    background-color: inherit;
    animation: ripple 1.8s ease-out infinite;
    animation-delay: inherit;
    z-index: -1;
}

.loader2 span:nth-of-type(1) {
    background-color: #FF7CAD;
}

.loader2 span:nth-of-type(2) {
    background-color: #9DD6FF;
    animation-delay: 0.2s;
}

.loader2 span:nth-of-type(3) {
    background-color: #FFDF66;
    animation-delay: 0.4s;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}