@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$pink: #FF7CAD;
$blue: #9DD6FF;
$darkTxt: #303030;
$lightTxt: #DDDDDD;
$white: white;

html {
    scroll-behavior: smooth;
}

body {
    background-color: #131313;
    color: $lightTxt;
}

.filters {
    max-width: 350px;

    ul {
        position: relative;
        width: 100%;

        li {
            padding: 0px 10px;
            margin: 0px 10px 0px 0px;
            cursor: pointer;
            position: relative;
        }
    }
}

.projectCol {
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.projectCol.fadeIn {
    // opacity: 1;
    transform: translateY(0);
}

.filters li::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: $pink;
    transition: width 0.3s ease, bottom 0.3s ease;
}

.filters li.active::before {
    width: 100%;
}

.projectBox {
    position: relative;
}

.portfolioPic {
    outline: 1px solid white;
    outline-offset: 2px;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background-color: rgba(79, 181, 255, 0.88);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}

.viewDivider {
    width: 1px !important;
    height: 25px;
    background-color: white;
}

a:not(.darkSocials, .fSocials) {
    .svg-inline--fa:hover {
        color: $darkTxt;
    }
}

ul {
    list-style-type: none;
}