html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

#logo {
  width: 35px;
  height: auto;
}

::-moz-selection {
  background-color: #FF7CAD;
  color: white;
}

::selection {
  background-color: #FF7CAD;
  color: white;
}

.poppinsFont {
  font-family: "Poppins", sans-serif;
}

.heading {
  font-size: 98px;
  font-weight: 700;
}

.secondaryTxt {
  font-size: 30px;
  font-weight: 600;
}

.tertiaryTxt {
  font-size: 20px;
  font-weight: 500;
}

#featuredProject {
  letter-spacing: 10px;
  color: #6cc2ff;
}

.subTxtTitle {
  font-weight: 600;
}

.subTxtDetails {
  font-size: 16px;
  font-weight: 400;
}

.pink {
  color: #FF7CAD;
}

.blue {
  color: #9DD6FF;
}

.yellow {
  color: #FFDF66;
}

.white {
  color: white;
}

.whiteBg {
  background-color: white;
}

.darkBg {
  background-color: #303030;
}

.stroked {
  color: transparent;
  -webkit-text-stroke: 2px #303030;
  -moz-text-stroke: 2px #303030;
}

.pinkStroked {
  color: transparent;
  -webkit-text-stroke: 2px #FF7CAD;
  -moz-text-stroke: 2px #FF7CAD;
}

.whiteStroked {
  color: transparent;
  -webkit-text-stroke: 2px white;
  -moz-text-stroke: 2px white;
}

.highlightTxt {
  line-height: 40px;
}

.lightTxt {
  color: #DDDDDD;
}

.darkTxt {
  color: #505050;
}

.contactTxt {
  font-size: 25px;
  font-weight: 600;
}

.smallTxt {
  font-size: 15px;
}

p {
  line-height: 30px;
}

nav {
  position: absolute;
  top: 0;
  background-color: transparent;
  padding: 24px;
  z-index: 20;
  width: 100%;
}
nav .navbar-brand,
nav #menuText {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
nav #menuBtn {
  border: none;
}
nav #menuBtn #menuText {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
}
nav #menuBtn .icon-menu {
  --gap: 5px;
  --height-bar: 2px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
}
nav #menuBtn .bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: 0.5rem;
}
nav #menuBtn .bar-1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}
nav #menuBtn .bar-2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
  width: 20px;
  align-self: end;
}
nav #menuBtn .bar-3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}
nav #menuBtn .check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}
nav #menuBtn .check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}
nav #menuBtn .check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

#navBg {
  position: absolute;
  top: auto;
  width: auto;
  height: 500px;
  opacity: 0.4;
}

.navTxt {
  position: relative;
}

.navTxt::after {
  content: "";
  /* Create the pseudo-element content */
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 5px;
  background-color: #FF7CAD;
  opacity: 1;
  transition: width 0.2s;
}

.navTxt:hover::after {
  width: 100%;
}

section {
  background-color: transparent;
  padding: 100px 0px;
  z-index: 15;
}

.darkSection {
  background-color: #131313;
}

.lightSection {
  background-color: #FFFFFE;
}

#sectionLoader {
  width: 100%;
  height: 100%;
  z-index: 25;
}
#sectionLoader .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sectionNav {
  width: 100%;
  height: 100vh;
  vertical-align: middle;
}

#backToTop {
  opacity: 0;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #FFDF66;
  color: #303030;
  height: 50px;
  width: 50px;
  z-index: 10;
  transition: all 0.3s ease !important;
}
#backToTop .fa-arrow-up {
  font-size: 20px;
}

.backToTopShow {
  opacity: 1 !important;
  transition: all 0.3s ease !important;
}

.actionBtn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  background-color: #9DD6FF;
  width: 140px;
}

.actionBtn:hover {
  outline: 3px solid #9DD6FF;
  outline-offset: -3px;
  color: #9DD6FF;
}

a {
  text-decoration: none;
  color: inherit;
}

.footerIcon,
.iconBg {
  font-size: 40px;
  margin: 0px 5px;
  color: #DDDDDD;
}

.iconBg {
  width: 40px;
  height: 40px;
  background-color: #DDDDDD;
}

.faIcon {
  font-size: 25px;
  color: #303030;
}

.footerIcon:hover {
  color: #9DD6FF;
  transition: 0.2s ease-in;
}

.iconBg:hover {
  background-color: #9DD6FF;
  transition: 0.2s ease-in;
}

.footerIconBg {
  font-size: 25px;
  font-weight: 600;
  color: #131313;
}

.bigPics {
  height: 630px;
  position: relative;
  z-index: 5;
}

.picShadow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

#pinkBg,
#blueBg {
  z-index: 0;
  position: absolute;
  top: auto;
  width: 650px;
}

#blueBg {
  right: 60px;
}

.widIcon {
  height: 50px;
  width: auto;
}

.midBg {
  background-color: #222222;
  height: 100%;
}

#unblokcPic {
  width: 750px;
  height: auto;
  right: 40px;
}

.dividerHr {
  height: 2px;
  width: 100%;
  margin-top: 60px;
}

.horizontalDividerLight,
.horizontalDividerDark {
  width: 1px;
  height: 60px;
  background-color: #DDDDDD;
}

.horizontalDividerDark {
  background-color: #aeaeae;
}

.socials {
  width: 360px;
}

.lightSocials,
.darkSocials {
  color: inherit;
}
.lightSocials .svg-inline--fa,
.darkSocials .svg-inline--fa {
  height: 20px;
  width: auto;
}

.lightSocials:hover {
  color: #808080;
}

.darkSocials:hover {
  color: #656565;
}

.viewCV {
  position: relative;
  font-weight: 500;
  color: #FF7CAD;
}

.viewCV::after {
  content: "";
  /* Create the pseudo-element content */
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 3px;
  background-color: #FF7CAD;
  opacity: 1;
  transition: width 0.2s;
}

.viewCV:hover::after {
  width: 100%;
}

.viewExternal {
  font-weight: 300;
}
.viewExternal .svg-inline--fa {
  height: 12px;
  width: auto;
}

.viewExternal:hover {
  color: #303030;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .heading {
    font-size: 85px;
    font-weight: 700;
  }
  .secondaryTxt {
    font-size: 28px;
  }
  .tertiaryTxt {
    font-size: 18px;
  }
  #pinkBg,
  #blueBg {
    width: 600px;
    top: 130px;
  }
  #blueBg {
    right: auto;
  }
  .bigPics {
    height: 560px;
  }
  #unblokcPic {
    width: 650px;
    height: auto;
    right: auto;
  }
}
@media screen and (max-width: 768px) {
  #navBg {
    height: 500px;
    width: auto;
  }
  .heading {
    font-size: 70px;
  }
  .secondaryTxt {
    font-size: 25px;
  }
  p {
    line-height: 25px;
  }
  .highlightTxt {
    line-height: 35px;
  }
  #pinkBg,
  #blueBg {
    width: 530px;
    top: 130px;
  }
  .bigPics {
    height: 530px;
  }
  #unblokcPic {
    width: 530px;
    height: auto;
    right: auto;
  }
  .socials {
    width: 330px;
  }
  .footerIcon,
  .iconBg {
    font-size: 30px;
    margin: 0px 4px;
    color: #DDDDDD;
  }
  .iconBg {
    width: 30px;
    height: 30px;
    background-color: #DDDDDD;
  }
  .faIcon {
    font-size: 20px;
    color: #303030;
  }
}
@media screen and (max-width: 576px) {
  body {
    font-size: 16px;
  }
  nav {
    padding: 24px 5px;
  }
  #navBg {
    height: 400px;
    width: auto;
  }
  #logo {
    width: 30px;
    height: auto;
  }
  section {
    padding: 80px 0;
  }
  .secondaryTxt {
    font-size: 22px;
  }
  .tertiaryTxt {
    font-size: 16px;
  }
  #featuredProject {
    letter-spacing: 5px;
  }
  #pinkBg,
  #blueBg {
    width: 470px;
    top: 130px;
  }
  .bigPics {
    height: 490px;
  }
  #unblokcPic {
    width: 500px;
    height: auto;
    right: auto;
  }
  .socials {
    width: 330px;
  }
  .lightSocials .svg-inline--fa,
  .darkSocials .svg-inline--fa {
    height: 18px;
    width: auto;
  }
  #backToTop {
    bottom: 15px;
    right: 15px;
  }
  .horizontalDividerLight,
  .horizontalDividerDark {
    height: 45px;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    font-size: 55px;
  }
  .secondaryTxt {
    font-size: 20px;
  }
  .highlightTxt {
    line-height: 30px;
  }
  .stroked {
    -webkit-text-stroke: 1.5px #303030;
    -moz-text-stroke: 1.5px #303030;
  }
  .pinkStroked {
    -webkit-text-stroke: 1.5px #FF7CAD;
    -moz-text-stroke: 1.5px #FF7CAD;
  }
  .whiteStroked {
    -webkit-text-stroke: 1.5px white;
    -moz-text-stroke: 1.5px white;
  }
  #pinkBg,
  #blueBg {
    width: 390px;
    top: 130px;
  }
  .bigPics {
    height: 390px;
  }
  #unblokcPic {
    width: 400px;
    height: auto;
    right: auto;
  }
  .socials {
    width: 250px;
  }
  .lightSocials .svg-inline--fa,
  .darkSocials .svg-inline--fa {
    height: 15px;
    width: auto;
  }
  .footerIcon,
  .iconBg {
    font-size: 25px;
    margin: 0px 2px;
    color: #DDDDDD;
  }
  .iconBg {
    width: 25px;
    height: 25px;
    background-color: #DDDDDD;
  }
  .faIcon {
    font-size: 16px;
    color: #303030;
  }
}
@media screen and (max-width: 400px) {
  nav {
    padding: 24px 0px;
  }
  #navBg {
    height: 200px;
    width: auto;
  }
  .heading {
    font-size: 45px;
  }
  .secondaryTxt {
    font-size: 18px;
  }
  .highlightTxt {
    line-height: 25px;
  }
  .stroked {
    -webkit-text-stroke: 1px #303030;
    -moz-text-stroke: 1px #303030;
  }
  .pinkStroked {
    -webkit-text-stroke: 1px #FF7CAD;
    -moz-text-stroke: 1px #FF7CAD;
  }
  .whiteStroked {
    -webkit-text-stroke: 1px white;
    -moz-text-stroke: 1px white;
  }
  #pinkBg,
  #blueBg {
    max-width: 330px;
    top: 130px;
  }
  .bigPics {
    max-height: 350px;
  }
  #unblokcPic {
    width: 350px;
    height: auto;
    right: auto;
  }
  .lightSocials .svg-inline--fa,
  .darkSocials .svg-inline--fa {
    height: 15px;
    width: auto;
  }
}/*# sourceMappingURL=reusables.css.map */