$pink: #FF7CAD;
$blue: #9DD6FF;
$darkTxt: #303030;
$lightTxt: #DDDDDD;
$white: white;
$yellow: #FFDF66;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

::selection {
    background-color: $pink;
    color: white;
}

// Fonts
.poppinsFont {
    font-family: 'Poppins', sans-serif;
}

// Texts and Colors
.heading {
    font-size: 98px;
    font-weight: 700;
}

.secondaryTxt {
    font-size: 30px;
    font-weight: 600;
}

.tertiaryTxt {
    font-size: 20px;
    font-weight: 500;
}

.subTxtTitle {
    font-weight: 500;
}

.subTxtDetails {
    // width: 300px;
    font-size: 16px;
    font-weight: 400;
}

.pink {
    color: $pink;
}

.blue {
    color: $blue;
}

.yellow {
    color: $yellow;
}

.white {
    color: white;
}

.stroked {
    color: transparent;
    -webkit-text-stroke: 2px $darkTxt;
    -moz-text-stroke: 2px $darkTxt;
}

.pinkStroked {
    color: transparent;
    -webkit-text-stroke: 2px #FF7CAD;
    -moz-text-stroke: 2px #FF7CAD;
}

.whiteStroked {
    color: transparent;
    -webkit-text-stroke: 2px white;
    -moz-text-stroke: 2px white;
}

.highlightTxt {
    line-height: 40px;
}

.lightTxt {
    color: $lightTxt;
}

.darkTxt {
    color: #505050;
}

.contactTxt {
    font-size: 25px;
    font-weight: 600;
}

p {
    line-height: 30px;
}

// Nav
nav {
    // position: fixed;
    // top: 0;
    padding: 24px;

    .navbar-brand,
    #menuText {
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
    }

    #menuBtn {
        border: none;

        #menuText {
            font-weight: 400;
            letter-spacing: 2px;
            font-size: 18px;
        }

        .icon-menu {
            --gap: 5px;
            --height-bar: 2px;
            --pos-y-bar-one: 0;
            --pos-y-bar-three: 0;
            --scale-bar: 1;
            --rotate-bar-one: 0;
            --rotate-bar-three: 0;
            width: 25px;
            display: flex;
            flex-direction: column;
            gap: var(--gap);
            cursor: pointer;
            position: relative;
        }

        .bar {
            position: relative;
            height: var(--height-bar);
            width: 100%;
            border-radius: .5rem;
        }

        .bar-1 {
            top: var(--pos-y-bar-one);
            transform: rotate(var(--rotate-bar-one));
            transition: top 200ms 100ms, transform 100ms;
        }

        .bar-2 {
            transform: scaleX(var(--scale-bar));
            transition: transform 150ms 100ms;
            width: 20px;
            align-self: end;
        }

        .bar-3 {
            bottom: var(--pos-y-bar-three);
            transform: rotate(var(--rotate-bar-three));
            transition: bottom 200ms 100ms, transform 100ms;
        }

        .check-icon:checked+.icon-menu>.bar--1 {
            transition: top 200ms, transform 200ms 100ms;
        }

        .check-icon:checked+.icon-menu>.bar--3 {
            transition: bottom 200ms, transform 200ms 100ms;
        }

        .check-icon:checked+.icon-menu {
            --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
            --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
            --scale-bar: 0;
            --rotate-bar-one: 45deg;
            --rotate-bar-three: -45deg;
        }
    }
}

// Sections
section {
    background-color: transparent;
    padding: 100px 0px;
}

.darkSection {
    background-color: #131313;
}

.lightSection {
    background-color: #FFFFFE;
}

#sectionLoader {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// Buttons
#backToTop {
    opacity: 0;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #FFDF66;
    color: $darkTxt;
    height: 50px;
    width: 50px;
    z-index: 10;
    transition: all 0.3s ease !important;

    .fa-arrow-up {
        font-size: 20px;
    }
}

.backToTopShow {
    opacity: 1 !important;
    transition: all 0.3s ease !important;
}

.actionBtn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #9DD6FF;
    width: 140px;
}

.actionBtn:hover {
    outline: 3px solid #9DD6FF;
    outline-offset: -3px;
    color: #9DD6FF
}

// Anchors
a {
    text-decoration: none;
    color: inherit;
}

.footerIcon,
.iconBg {
    font-size: 40px;
    margin: 0px 5px;
    color: $lightTxt;
}

.iconBg {
    width: 40px;
    height: 40px;
    background-color: $lightTxt;
}

.faIcon {
    font-size: 25px;
    color: $darkTxt;
}

.footerIcon:hover {
    color: $blue;
    transition: 0.2s ease-in;
}

.iconBg:hover {
    background-color: $blue;
    transition: 0.2s ease-in;
}

.footerIconBg {
    font-size: 25px;
    font-weight: 600;
    color: #131313;
}

// Images
.bigPics {
    height: 630px;
    position: relative;
    z-index: 5;
}

.picShadow {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

#pinkBg,
#blueBg {
    z-index: 0;
    position: absolute;
    top: auto;
    width: 650px;

}

#blueBg {
    right: 60px;
}

.widIcon {
    height: 50px;
    width: auto;
}

.midBg {
    background-color: #222222;
    height: 100%;
}

// Divider
.dividerHr {
    height: 2px;
    width: 100%;
    margin-top: 60px;
}

.horizontalDividerLight,
.horizontalDividerDark {
    width: 1px;
    height: 60px;
    background-color: $lightTxt;
}

.horizontalDividerDark {
    background-color: #ABABAB;
}

// Groups/Components
.socials {
    width: 360px;
}

.lightSocials,
.darkSocials {
    color: inherit;

    .svg-inline--fa {
        height: 20px;
        width: auto;
    }
}


.lightSocials:hover {
    color: #808080;
}

.darkSocials:hover {
    color: #656565;
}

.viewCV {
    position: relative;
    font-weight: 500;
    color: $pink;
}

.viewCV::after {
    content: "";
    /* Create the pseudo-element content */
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0px;
    height: 3px;
    background-color: $pink;
    opacity: 1;
    transition: width 0.2s;
}

.viewCV:hover::after {
    width: 100%;
}

@media screen and (max-width: 992px) {

    // Texts and Colors
    .heading {
        font-size: 85px;
        font-weight: 700;
    }

    .secondaryTxt {
        font-size: 28px;
    }

    .tertiaryTxt {
        font-size: 18px;
    }

    #pinkBg,
    #blueBg {
        width: 600px;
        top: 130px;
    }

    #blueBg {
        right: auto;
    }

    .bigPics {
        height: 560px;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 70px;
    }

    .secondaryTxt {
        font-size: 25px;
    }

    p {
        line-height: 25px;
    }

    .highlightTxt {
        line-height: 35px;
    }

    #pinkBg,
    #blueBg {
        width: 530px;
        top: 130px;
    }

    .bigPics {
        height: 530px;
    }

    // Groups/Components
    .socials {
        width: 330px;
    }

    .footerIcon,
    .iconBg {
        font-size: 30px;
        margin: 0px 4px;
        color: $lightTxt;
    }

    .iconBg {
        width: 30px;
        height: 30px;
        background-color: $lightTxt;
    }

    .faIcon {
        font-size: 20px;
        color: $darkTxt;
    }
}

@media screen and (max-width: 576px) {

    // Texts and Colors
    body {
        font-size: 16px;
    }

    section {
        padding: 80px 0;
    }

    .secondaryTxt {
        font-size: 22px;
    }

    .tertiaryTxt {
        font-size: 16px;
    }

    #pinkBg,
    #blueBg {
        width: 470px;
        top: 130px;
    }

    .bigPics {
        height: 490px;
    }

    // Groups/Components
    .socials {
        width: 330px;
    }

    .lightSocials,
    .darkSocials {
        .svg-inline--fa {
            height: 18px;
            width: auto;
        }
    }

    #backToTop {
        bottom: 10px;
        right: 10px;
    }

    .horizontalDividerLight,
    .horizontalDividerDark {
        height: 45px;
    }
}

@media screen and (max-width: 500px) {
    nav {
        padding: 24px 5px;
    }

    // Texts and Colors
    .heading {
        font-size: 55px;
    }

    .secondaryTxt {
        font-size: 20px;
    }

    .highlightTxt {
        line-height: 30px;
    }

    .stroked {
        -webkit-text-stroke: 1.5px $darkTxt;
        -moz-text-stroke: 1.5px $darkTxt;
    }

    .pinkStroked {
        -webkit-text-stroke: 1.5px #FF7CAD;
        -moz-text-stroke: 1.5px #FF7CAD;
    }

    .whiteStroked {
        -webkit-text-stroke: 1.5px white;
        -moz-text-stroke: 1.5px white;
    }

    #pinkBg,
    #blueBg {
        width: 390px;
        top: 130px;
    }

    .bigPics {
        height: 390px;
    }

    // Groups/Components
    .socials {
        width: 250px;
    }

    .lightSocials,
    .darkSocials {
        .svg-inline--fa {
            height: 15px;
            width: auto;
        }
    }

    .footerIcon,
    .iconBg {
        font-size: 25px;
        margin: 0px 2px;
        color: $lightTxt;
    }

    .iconBg {
        width: 25px;
        height: 25px;
        background-color: $lightTxt;
    }

    .faIcon {
        font-size: 16px;
        color: $darkTxt;
    }
}

@media screen and (max-width: 400px) {
    nav {
        padding: 24px 0px;
    }

    // Texts and Colors
    .heading {
        font-size: 45px;
    }

    .secondaryTxt {
        font-size: 18px;
    }

    .highlightTxt {
        line-height: 25px;
    }

    .stroked {
        -webkit-text-stroke: 1px $darkTxt;
        -moz-text-stroke: 1px $darkTxt;
    }

    .pinkStroked {
        -webkit-text-stroke: 1px #FF7CAD;
        -moz-text-stroke: 1px #FF7CAD;
    }

    .whiteStroked {
        -webkit-text-stroke: 1px white;
        -moz-text-stroke: 1px white;
    }

    #pinkBg,
    #blueBg {
        max-width: 330px;
        top: 130px;
    }

    .bigPics {
        max-height: 350px;
    }

    .lightSocials,
    .darkSocials {
        .svg-inline--fa {
            height: 15px;
            width: auto;
        }
    }
}