$pink: #ff7cad;
$blue: #9dd6ff;
$darkTxt: #303030;

html {
  scroll-behavior: smooth;
}

body {
  color: $darkTxt;
}

.bar {
  background-color: $darkTxt;
}

#landingPic {
  max-width: 100%;
  width: 95%;
  height: auto;
}

#landingPage {
  padding-top: 90px;
}

#landingSummary {
  width: 80%;
  font-style: italic;
  font-weight: 400;
}

#aboutText {
  color: white;
  font-size: 55px;
  font-weight: 700;
}

#aboutTextStroked {
  color: transparent;
  font-size: 55px;
  font-weight: 700;
  -webkit-text-stroke: 1px white;
  -moz-text-stroke: 1px white;
}

.feedbackSlider {
  display: block;
}

#quoteImg {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  height: 100px;
  width: auto;
}

.feedbackImg {
  width: 180px;
  height: 220px;
  object-fit: cover;
}

.feedbackCard {
  height: 300px;
  padding: 5px;

  .feedbackContent {
    max-width: 100%;
    height: 200px;
    position: relative;

    .feedbackTxt {
      font-style: italic;
      line-height: normal;
    }

    p {
      line-height: 25px;
    }

    .feedbackDetails {
      position: absolute;
      bottom: 0;

      .feedbackFrom {
        font-weight: 500;
      }
    }
  }
}

.slickBtn {
  width: 40px;
  height: 40px;
  background-color: #222;

  .fa-chevron-left,
  .fa-chevron-right {
    color: #909090;
  }
}

#indicatorBtn1 {
  position: absolute;
  bottom: 40px;
  right: 15px;
}

.slick-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  display: block;
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 0;
  background: transparent;

}

.slick-dots li button:before {
  content: '•';
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: .25;
  color: #ADADAD;
  transition: 0.3s ease-in;
}

.slick-dots .slick-active button:before {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  #landingPage {
    padding-top: 150px;
  }

  #landingSummary {
    width: 480px;
  }

  #quoteImg {
    margin: auto;
    right: 0;
    left: 0;
    height: 120px;
  }

  .feedbackCard {
    height: auto;

    .feedbackTxt {
      height: 270px;
      font-style: italic;
    }

    .feedbackContent {
      height: auto;

      .feedbackImg {
        max-width: 50px;
        height: 50px;
        object-fit: cover;
      }

      .feedbackDetails {
        position: relative;
      }
    }
  }

  #indicatorBtn2 {
    position: relative;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  #landingPage {
    padding-top: 120px;
  }

  #landingSummary {
    width: 430px;
  }

  #aboutText {
    color: white;
    font-size: 45px;
  }
}

@media screen and (max-width: 576px) {
  #aboutText {
    color: white;
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  #landingSummary {
    width: 340px;
  }

  #aboutText {
    color: white;
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  #landingSummary {
    width: 250px;
  }

  #aboutText {
    color: white;
    font-size: 35px;
  }

  .feedbackCard {
    height: auto;

    .feedbackTxt {
      font-size: 16px;
      font-style: italic;
    }
  }
}