#sectionLoader {
    position: fixed;
    top: 0;
    z-index: 20;
}


.loader {
    height: 20vh;
    width: 20vh;
}

#liquid {
    animation: moveLiquid 1.5s linear infinite !important;
    animation-delay: 0s !important;
}

@keyframes moveLiquid {
    0% {
        cx: 119;
        cy: 74;
        fill: #FF7CAD;
    }

    33% {
        cx: 157;
        cy: 141;
        fill: #FFDF66;
    }

    66% {
        cx: 79;
        cy: 141;
        fill: #9DD6FF;
    }

    99% {
        cx: 119;
        cy: 74;
        fill: #FF7CAD;
    }
}

/* Apply the animation to the liquid circle */

// @keyframes changeColor {
//     25% {
//         fill: #FF7CAD;
//     }

//     35% {
//         fill: #FFDF66;
//     }

//     60% {
//         fill: #FFDF66;
//     }

//     75% {
//         fill: #9DD6FF;
//     }

//     100% {
//         fill: #9DD6FF;
//     }
// }